.blog {
    .blog__top {
        h2 {
            @include styleText($color-black-0, $fs-3, $fs-3);
            line-height: $line-height-0;
            letter-spacing: 2px;
        }

        .blog__text {
            @include styleText($color-gray-0, $fs-4, $fw-3);
            width: 62%;
            margin: 0 auto;
            line-height: $line-height-1;
        }
        margin-bottom: $mg-3 - 30;
    }

    .blog__bot {
        .blog__col{
            padding-right: 30px;
            padding-left: 30px;
        }
        .blog__img {
            position: relative;
            img {
                width: 100%;
            }
            .blog__imgtext {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                color: #fff;
                background: rgba(0, 0, 0, 0.5);
            }
        }

        .bot__title {
            height: 309px;
            padding: 30px ;
            .blog__tag {
                ul {
                    list-style: none;
                    li {
                        display: inline-block;
                        margin-right: 10px;
                        text-transform: uppercase;
                        color: #909090;
                        font-size: 12px;
                        letter-spacing: 1px;
                        cursor: pointer;
                        &:hover{
                            color: $color-gold-0;
                        }
                    }
                }
            }
            .blog__title {
                margin-bottom: 10px;
                a {
                    color: #222;
                    color: #333;
                    font-weight: normal;
                    line-height: 1.5;
                    font-size: 18px;
                    transition: all 0.5s;
                    &:hover{
                        text-decoration: none;
                        color: $color-gold-0;
                    }
                }
                
            }
            .blog__date {
                a {
                    color: #909090;
                    font-size: 12px;
                    padding: 0;
                    padding-right: 10px;
                    border-right: 2px solid $color-gold-0;
                    margin-right: 5px;
                    letter-spacing: 2px;
                    transition: all 0.5s;
                    &:hover{
                        text-decoration: none;
                        color: $color-gold-0;
                    }
                }
                p {
                    display: inline-block;
                    color: #909090;
                    font-size: 12px;
                    letter-spacing: 2px;
                }
            }
            .blog__text {
                p {
                    line-height: 30px;
                    margin-bottom: 30px;
                    font-size: 15px;
                    font-weight: 400;
                    color: #7e7e7e;
                }
            }
            .blog__more {
                a {
                    position: relative;
                    text-transform: uppercase;
                    color: #bbb;
                    letter-spacing: 1px;
                    transition: all 0.5s;
                    i {
                        position: absolute;
                        top: 2px;
                        margin-left: 10px;
                        font-weight: bold;
                    }
                    &:hover{
                        text-decoration: none;
                        color: $color-black-2;
                    }
                }
            }
        }
    }
}
