#header__1 {
    padding: 0 30px;
    background-color: none;
    position: absolute;
    top: 0;
    z-index: 18;
    button{
        i{
            color: white;
        }
    }
    .navbar {
        .navbar-brand {
            padding: 0;
            img {
                height: 96px;
                width: 100%;
                position: relative;
                top: -2px;
                display: inline-block;
                max-height: 100%;
                padding: $pd-2 0;
            }
        }
        #homeNavBar {
           
            .header__menu {
                .nav-item {
                    margin-left: $pd-2;
                    .nav-link{
                        @include styleText($color-white-0, $fs-0, $fw-0);
                        padding: 0 $pd-0;
                        transition: all 0.5s;
                        &:hover{
                            color: $color-gold-0;
                        }
                    }
                }
                .active {
                    .nav-link {
                        color: $color-gold-0;
                    }
                }
            }
            .header__menu{
                .mright{
                    .nav-link{
                        border-right:2px solid $color-white-0;
                        padding-right: $pd-0 * 2; 
                    }               
                }
                .shopping{
                    .nav-link{
                        padding-left: $pd-0 * 2;
                    }       
                }   
            }
        }
    }

    @include responsive("large"){
        .navbar{
            #homeNavBar{
                .header__menu{
                    .nav-item{
                        padding: 3px 12px;
                    }
                    .mright{
                        .nav-link{
                            border-right: none;

                        }               
                    }
                    .shopping{
                        .nav-link{
                            padding-left: $pd-0;
                        }       
                    }   
                }
            }
        } 
    }
}
