.intro {
  background-image: url(../img/homebg.jpg);
  width: auto;
  height: 794px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .intro__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
      @include styleText($color-white-0, $fs-2, $fw-1);
      letter-spacing: 5px;
    }
    p{
      @include styleText($color-white-0, $fs-1, $fw-1);
      letter-spacing: 6px;
    }
  }
}
