.menu {
    padding: $mg-3 0;
    background-color: $color-black-2;
    .menu__col {
        padding: 0 $pd-3;
    }
    .menu__logo {
        margin-bottom: $mg-2;
        img {
            height: 100px;
            width: auto;
        }
    }

    p {
        margin-bottom: $mg-4;
        color: #7e7e7e;
        line-height: $line-height-1 + 5;
    }

    h5 {
        font-size: $fs-0 + 1;
        color: $color-white-0;
        line-height: 1.5;
        margin-bottom: $mg-4;
        letter-spacing: 1px;
    }

    .menu__list {
        list-style: none;
        li {
            border-bottom: 1px solid #333;
            a {
                display: block;
                color: #a2a2a2;
                line-height: $line-height-1 + 20;
                transition: all 0.5s;
                &::before {
                    padding-right: $pd-1;
                    content: "\f105";
                    font-family: "fontawesome";
                }
                &:hover {
                    color: $color-gold-0;
                    text-decoration: none;
                }
            }
        }
    }

    .listimg {
        list-style: none;
        li {
            a {
                width: 55px;
                height: 55px;
                float: left;
                margin: 0 $mg-0 + 5 $mg-0 + 5 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    @include responsive("extra-large"){
        .listimg{
            li{
                a{
                    width: 50px;
                }
            }
        }
    }
}
